body {
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
        "nav"
        "main"
        "footer"
    ;
    grid-template-rows: max-content 1fr max-content;
}

@each $region in ("nav", "main", "footer") {
    .#{$region} {
        grid-area: $region;
        padding: 0 7.5%;

        @include tablet() {
            padding: 0 5%;
        }

        @include mobile() {
            padding: 0 15px;
        }
    }
}
